.characterInfo{
	background-color: #DAAC5E;
	height:320px;
	width:631px;
	left:0px;
	top:20px;
	position: absolute;
	font-family: "Verdana";
	box-shadow: 1px 1px 10px black;
}

.dragBar{
	width:100%;
	height:20px;
	left:0px;
	top:-20px;
}

.dragBar:hover{
	cursor:move;
}

.dragBarButton{
	width:16px;
	height:16px;
	top: -18px;
}

.weaponRankLtrPos{
	position: absolute;
	left: 20px;
	bottom: 2px;
}

.weaponRankBar{
	position: absolute;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color:red;
}

.weaponRankBackground{
	position: absolute;
	width: 30px;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color:#944F24;
}

.statBox{
	position: absolute;
	height: 20px;
	width: 112px;
}

.indentedStatLabel{
	position: absolute;
	font-size:12px;
	left:20px;
	top:3px;
}

.indentedStat{
	position: absolute;
	left:60px;
	top:1px;
}

.largeIndentedStat{
	position: absolute;
	left:60px;
	top:2px;
}

.indentedSkillName{
	position: absolute;
	left:10px;
	top:8px;
	font-size: 13px;
}

.indentedWeaponName{
	position: absolute;
	left:31px;
	top:8px;
	font-size: 13px;
}

.indentedWeaponIcon{
	position: absolute;
	left:10px;
	top:7px;
	display:inline-block;
}

.weaponEffectIcons{
	position: absolute;
	left:150px;
	top:6px;
	width:90px;
	display:inline-block;
	text-align:right;
}

.indentedClassName{
	position: absolute;
	left:10px;
	top:5px;
}

.indentedExpMovLabel{
	position: absolute;
	font-size:12px;
	left:25px;
	top:5px;
}

.indentedExpMovText{
	position: absolute;
	left:55px;
	top:3px;
}

.HPText{
	font-size:20px;
	position: absolute;
	left:25px;
	top:10px;
}

.HPFractionPos{
	position: absolute;
	left:90px;
	top:5px;
	text-align: center;
	vertical-align: middle;
}

.currHPText{
	font-size:30px;
}

.totalHPText{
	font-size:20px;
}

.statsPos{
	position: absolute;
	width: 230px;
	height: 50px;
	left: calc(50% - 115px);
	top: 160px;
}

.personalSkillHeader{
	top:20px;
}

.personalSkillBody{
	top:40px;
}

.debuffBody{
	top:54px;
}

.weaponBuffBody{
	top:67px;
}

.pairUpBody{
	top:80px;
}

.skillPos{
	width:173px;
	left:445px;
	height:30px;
}

.skillGemInfoPos{
	overflow-y: hidden;
	width:250px;
	left:350px;
	height:150px;
}

.statNameText{
	font-size: 14px;
}

.statText{
	margin-left: 10px;
	font-size: 17px;
}

.hitPos{
	position: absolute;
	left: 30px;
	top: 5px;
}

.critPos{
	position: absolute;
	left: 140px;
	top: 5px;
}

.atkPos{
	position: absolute;
	left: 30px;
	top: 22px;
}

.avoidPos{
	position: absolute;
	left: 140px;
	top: 22px;
}

.charExpPos{
	width:230px;
	height:25px;
	top:80px;
	left: calc(50% - 115px);
	font-size: 12px;
	text-align: center;
}

.HpPos{
	width:230px;
	left:calc(50% - 115px);
	top:110px;
	height:45px;
}

.classLvlPos{
	top:55px;
	height:30px;
}

.shieldsPos{
	width:90px;
	left:490px;
	top:188px;
	height:18px;
}

.pairUpIcoPos{
	width:16px;
	left:580px;
	top:190px;
	height:16px;
}

.pairUpInfoPos{
	width:130px;
	left:445px;
	top:53px;
	height:160px;
}

.weaponRankPos{
	width:35px;
	top:190px;
	height:24px;
}

.itemsPos{
	width:180px;
	left:10px;
	height:30px;
}

.itemInfoPos{
	font-size:12px;
	width:240px;
	left:100px;
	height:110px;
}

.charNamePos{
	height:60px;
	width:230px;
	left: calc(50% - 115px);
	top:10px;
}

.pairUpIcon{
	position: absolute;
	width: 10px;
	height: 11px;
	left: 1px;
	bottom: 8px;
}