<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" ng-src="{{mapUrl}}">
	
	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox" ng-repeat="(indexX,column) in columns" title="{{column}}, {{row}}" ng-style="{left: determineGlowX(indexX)}"></div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="char in charaData">
		<div id="char_{{$index}}" ng-if="validPosition(char.position)" ng-click="displayData('char_'+$index)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Paired unit sprite-->
			<!--<div ng-if="isPaired(char.pairUpPartner)" class="charDiv mapCharOffsetLeft">
				<img ng-src="{{getPairUnitIcon(char.pairUpPartner, 0)}}" class="mapCharCentered dimImage">
			</div>-->
			<!--Unit sprite-->
			<img ng-src="{{char.spriteUrl}}" class="mapCharCentered" style="height: 31px; width: 31px;">
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((char.currHp/char.maxHp)*27)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<!--<div ng-if="isPaired(char.pairUpPartner)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>-->
		</div>
	</div>

    <!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="characterInfo floatAbove" draggable="true" ng-show="checkCharToggle(cIndex)">
	<!--Drag bar-->
		<div class="absolutePos dragBar olive"></div>
		<!--Close button-->
		<div class="infoElement dragBarButton hoverImage" title="Close" style="left:calc(100% - 18px)" ng-click="removeData(cIndex)">
			<img src="IMG/close.png">
		</div>
		<!--Name, Class, Lvl-->
		<div class="infoElement navy whiteText charNamePos" style="text-align: center; padding-top: 5px;">
			<span style="font-size: 25px;">{{char.name}}</span><br/>
			<span style="font-size: 15px;">Lvl. {{char.lvl}} {{char.class}}</span>
		</div>
		<!--Experience bar-->
		<div class="infoElement redText charExpPos">
			EXP: {{char.exp}}
			<div class="expBarBack"></div>
			<div class="expBarFront" ng-style="{width: ((char.exp/100) * 226)+'px'}"></div>
			<!--<div class="expBarBorder"></div>-->
		</div>
		<!--HP-->
		<div class="infoElement darkTan tanText HpPos">
			<div class="HPText">HP</div>
			<div class="HPFractionPos">
				<span class="currHPText">{{char.currHp}} /</span>
				<span class="totalHPText">{{char.maxHp}}</span>
			</div>
		</div>
		<!--Hit, Atk, Crit, Avo-->
		<div class="infoElement darkTan tanText statsPos">
			<div class="hitPos">
				<span class="statNameText">Hit</span>
				<span class="statText">-</span>
			</div>
			<div class="critPos">
				<span class="statNameText">Crit</span>
				<span class="statText">-</span>
			</div>
			<div class="atkPos">
				<span class="statNameText">Atk</span>
				<span class="statText">{{char.Str}}</span>
			</div>
			<div class="avoidPos">
				<span class="statNameText">Avo</span>
				<span class="statText">-</span>
			</div>
		</div>
		<!--Stats-->
		<div ng-repeat="stat in statsList" class="infoElement darkTan tanText statBox" ng-style="{top: stat[2], left: stat[3]}">
			<span class="indentedStatLabel">{{stat[0]}}</span>
			<span class="indentedStat">{{char[stat[0]]}}</span>
		</div>	
	</div>
</div>